.footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.content {
    padding: 0;
    margin: 0px;
    width: 80%;
}

.link-group {
    padding: 5px;
}

.social-media {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.social-media span {
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
}

.social-media a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin: 0px 10px;
}

.social-media a:hover, .social-media span:hover, .link-group:hover {
    color: #5ecaec;
}