.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(32, 35, 42);
    width: 100%;
    position: fixed;
    z-index: 1;
}

.image-logo{
    height: 50px;
    width: 50px;
    padding: 0px 10px;
}

.links {
    display: flex;
    justify-content: center;
    float: right;
    right: 0px;
    position: relative;
}

.links a{
    color: white;
    padding: 0px auto;
    text-decoration: none;
    margin: 0px 15px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: ease-in-out 0.6s;
    cursor: pointer;
}

.links a:hover{
    color: #57BCDA;
    border-bottom: 1px solid #57BCDA;
}

@media only screen and (max-width: 400px) {
    
    .image-logo{
        height: 50px;
        width: 50px;
    }

    .links a{
        color: white;
        padding: 0px;
        margin: 0px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Megrim, cursive;
        font-size: 1rem;
        font-weight: 500;
        transition: ease-in-out 0.6s;
        cursor: pointer;
    }
  }